*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;  
  background:linear-gradient(180deg ,#BD7482, #FFFFFF );
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 80px;
    border-radius: 10px;
    background-color:#F9F1F2 ;
    padding: 10px 20px;
    margin: 48px auto;
}
.nav-links{
display: flex;
margin-left: 25px;
gap: 50px;
margin-right: 25px;
}
.nav-links a{
    text-decoration: none;
    color:#130C0D ;
}
.logo-group{
    display: flex;
    font-size: 28px;
    align-items: center;
    font-weight: 400px;
    margin-left: 60px;
}
.hero{
    display: flex;
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;
    margin: 80px auto;
    padding: 0 20px;

}
.hero-content{
    flex: 1;
}
.hero-content h1{
    font-size: 4.5rem;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 10px;
    
}
.hero-content h2{
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 8px;
    }

    /* /TODO:hover */
.hero-button{
    display: flex;
    gap: 34px;
    margin-top:43px ;
}
    

.btn-buy{
    background-color:#3D262A ;
    color:#F9F1F2 ;
    text-decoration: none;
    border-radius: 10px;
    padding: 20px 46px;
}
.btn-buy:hover{
}



.btn-learn{
    background-color:#D9D9D9 ;
    color:#3D262A ;
    text-decoration: none;
    border-radius: 10px;
    padding: 20px 46px;

}

.features-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    
}
.features-text{
    width: 100%;
    text-align: center;
    margin-bottom: 58px;
}
.features-text h2{
    font-size: 64px;

}

.features-card img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    background-color: #F9F1F2;
    border-radius: 50%;
    padding: 15px;
    margin-bottom: 20px;
    
    }
.features-card{
    
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 372px;
    height: 242px;
    background:linear-gradient(180deg , #FFFFFF,#BD7482 );
    border-radius: 30px;
    padding: 20px;

}